<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smarthome">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartHome">
        <activity android:name=".DatabaseEditActivity"></activity>
        <activity android:name=".UserCameraHistory" />
        <activity android:name=".VideoCameraHistory" />
        <activity android:name=".LightActivity" />
        <activity android:name=".Counter" />
        <activity android:name=".LightMenu" />
        <activity android:name=".VideoCamera" />
        <activity android:name=".Weather" />
        <activity android:name=".Light" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>